@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arsenal SC", sans-serif;
}

header{
    background-color:#353335;
    color:#c2bfc2;
    padding: 30px;
    text-align: center;
    font-weight: 600px;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bloque-dimension"
    "bloque-tiempo";
}

.bloque-dimension, .bloque-tiempo{
    background-color:#353335;
    color:#c2bfc2;
    margin:40px;
    text-align: center;
    padding:5px;
}

.bloque-dimension{grid-area: bloque-dimension;}
.bloque-tiempo{grid-area: bloque-tiempo;}

.areas{
    margin: 50px;
}

.tiempo{
    margin-top:50px;
}

.link{
    text-decoration: none;
    color:#c2bfc2;
}

.link:hover {
    font-size: 30px;
}

#formGeneral{
    text-align: center;
    margin:50px;
    background-color:#353335;
    padding:20px;
}

.resultado{
    background-color:#353335;
    color:#c2bfc2;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.input{
    padding:20px;
    text-align: center;
}

.respuestasRecientes{
    margin: 20px;
    border: 2px solid #b76bcf; 
    text-align: center;
}

.reciente{
    text-align: center;
}

.search-container {
    margin: 20px;
    position: relative;
}

#entradaUnidad {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchResults {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.searchResultItem {
    padding: 10px;
    cursor: pointer;
}

.searchResultItem a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}

.nombrePart{
    text-align: center;
    color:#c2bfc2;
}

.borrar{
    background-color:#353335;
    color: white;
    margin-left: 700px;
    cursor: pointer;
    margin-bottom: 10px;
}

.borrar:hover {
    background-color: white;
    background-color:#353335;
}

.contenedorArea{
    margin:10px;
    border-radius: 10px;
}

.contenedorLongitud{
    margin:10px;
    border-radius: 10px;
    margin-top: 70px;
}

.numeroDelDia{
    text-align: center;
    border-radius: 300px;
    background-color:#353335;
    color:#c2bfc2;
}

.linkReferencia{
    text-decoration: none;
    color:#c2bfc2;

}

.referencia{
    display: flex;
    flex-direction: column;
}

#refArea:hover{
    font-size: 20px;
}

#refLong:hover{
    font-size: 20px;
}

#refVol:hover{
    font-size: 20px;
}

.label{
    color:#c2bfc2;
}