@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arsenal SC", sans-serif;
}

header{
    background-color:#f2ebf5;
    color:#7a787a;
    padding: 30px;
    text-align: center;
    font-weight: 600px;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bloque-dimension     bloque-movimiento  bloque-energia"
    "bloque-electricidad  bloque-tiempo      bloque-quimica";
}

.bloque-dimension, .bloque-movimiento, .bloque-electricidad, .bloque-energia, .bloque-quimica, .bloque-tiempo{
    background-color:#f2ebf5;
    color:#7a787a;
    margin:20px;
    text-align: center;
}

.bloque-dimension{grid-area: bloque-dimension;}
.bloque-movimiento{grid-area: bloque-movimiento;}
.bloque-electricidad{grid-area: bloque-electricidad;}
.bloque-energia{grid-area: bloque-energia;}
.bloque-quimica{grid-area: bloque-quimica;}
.bloque-tiempo{grid-area: bloque-tiempo;}

.areas{
    margin: 50px;
}

.tiempo{
    margin-top:50px;
}

.link{
    text-decoration: none;
    color:#7a787a;
}

.link:hover {
    font-size: 30px;
}

#formGeneral{
    text-align: center;
    margin:50px;
    background-color:#97e4f7;
    padding:20px;
}

.resultado{
    background-color: #97e4f7;
    color: #73877B;
    border-radius: 50%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.input{
    padding:20px;
    text-align: center;
}

.respuestasRecientes{
    margin: 20px;
    border: 2px solid #b76bcf; 
    text-align: center;
}

.reciente{
    text-align: center;
}

.search-container {
    margin: 20px;
    position: relative;
}

#entradaUnidad {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchResults {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.searchResultItem {
    padding: 10px;
    cursor: pointer;
}

.searchResultItem a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}

.nombrePart{
    text-align: center;
    color:#7a787a;
}

